@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    font-family: monospace;
    font-size: 110%;
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: theme(colors.orange.900);
    background-image: url(/images/red-paper.jpg);
  }
}

@layer components {
  .paper-bg {
    background-image: url(/images/yellow-paper-1.jpg);
  }
}
