@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: theme(colors.orange.700);
    background-image: url(/images/abgos-orange-art.webp);
  }
}

@layer components {
  .paper-bg {
    background-image: url(/images/yellow-paper-1.jpg);
  }
}
