/* CSS reset */
* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

/* Global styles */
body {
  display: grid;
  grid:
    'left header right' auto
    'left main right' 1fr
    'left footer right' auto
    / 1fr 720px 1fr;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url(/backgrounds/trippy-background.gif);
  color: white;
}

/* Utilities */
.reversed {
  transform: rotateY(180deg);
}
